@charset "UTF-8";

fieldset {
    border: 0;
}

table {
	margin-left: auto; 
	margin-right: auto;
	margin-top: 10px;
}

table.header {
	margin-left: auto; 
	margin-right: auto;
}

td.header {
	vertical-align: bottom;
}

img.applicationIcon {
	width: 50px;
	height: 50px;
}


body {
    position: absolute;  
    width:100%;  
    height:100%;
    margin:0px;  
    padding:0px;  
    text-align: center;
 }

input.login_title_hidden {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	margin: 2px 8px;
	text-decoration: underline;
	padding: 3px;
	font-size: 14px;
	font-family: Lucida Grande, "Geneva";
	color: white;
}
legend {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	padding-left: 1em;
	padding-right: 1em;
}

button {
	font-size: 15px;
	border: 0.5px solid black;
	background-color: white;
	/*border-radius: 0px;*/
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	
}

button:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1),0 5px 5px 0 rgba(0,0,0,0.1);
}

#go_to_cart, #go_to_home, #go_to_login, #go_to_logout {
	margin: 2px 8px;
	border: 0;
}

#go_to_cart:hover, #go_to_home:hover, #go_to_login:hover, #go_to_logout:hover {
	border: 0.5px solid black;
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
	 -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

td.userid_section {
	text-align: left;
}

input.password_assist, input.password_reset {
	width: 400px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 23px;
	font-weight: bold;
	margin-top: 35px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

input.password_assist_illustrate {
	width: 400px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 12px;
}

#password_uid, #password_email, #password_fname, #password_lname, #reset_pwd2, #reset_pwd1 {
	background: transparent;
	height: 40px;
	width: 400px;
	font-size: 15px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1.5px solid #7c7c7d;
	outline:none
}

#password_uid:focus, #password_email:focus, #password_fname:focus, #password_lname:focus, #reset_pwd2:focus, #reset_pwd1:focus {
	border-bottom: 2px solid #363737;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	
}

#reset_password, #confirm_new_password {
	padding: 10px 10px;
	background-color: #f5c478;
	margin-top: 20px;
	border: 0.5px solid black;
	font-size: 15px;
	
}


input:focus::-webkit-input-placeholder {
 color:#fff;
}
input:focus::-moz-placeholder {
 color:#fff;
}
input:focus::-ms-placeholder {
 color:#fff;
}
input::-webkit-input-placeholder {  /* WebKit browsers */
    transform: scale(1);
    transform-origin: 0% 55%;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 15px;
}
input::-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 15px;
}